# Lecture 2
## Introduction to Sklearn
### Imputers in Sklearn

<ol>
<li> Used data: Toy data (Toy data constructed in notebook)
<li> Notebook Goal: Learn how to use imputers in Sklearn. 
<li> Extra Exercise: No.
</ol>

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

In [4]:
df = pd.DataFrame(
    {
        'X': [15,9,np.nan,4],
        'Y': ['Yes','Yes','No', None]
    }
)
df

      X     Y
0  15.0   Yes
1   9.0   Yes
2   NaN    No
3   4.0  None

In [9]:
SI_numerical = SimpleImputer(missing_values=np.nan, strategy='mean')
SI_categorical = SimpleImputer(missing_values=None, strategy='most_frequent')

df.X=SI_numerical.fit_transform(df['X'].values.reshape(-1,1))
df.Y = SI_categorical.fit_transform(df['Y'].values.reshape(-1,1))
df

           X    Y
0  15.000000  Yes
1   9.000000  Yes
2   9.333333   No
3   4.000000  Yes